<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    <header class="header center">
        <a href="#" class="header__logo">
            <img src="./icons/logo.svg" alt="logo">
            <div class="header__title title">Interno</div>
        </a>
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__link">Home</li>
                <li class="header__link">Project</li>
                <li class="header__link">Blog</li>
            </ul>
        </nav>
    </header>
    <section class="promo-blog promo-blog_details">
    </section>
    <main class="blog-details center" id="app">
        <div class="blog-details__blogs-wrapper">
            <blog-component 
                v-for="blog in listOfBlogs"
                v-if="currentTag == blog.tag" 
                :key="blog.id"
                :tag=blog.tag 
                :title=blog.title 
                :titleimgurl=blog.titleImgUrl
                :breadcrumbs=blog.breadCrumbs
                :date=blog.date
                :content="blog.content"
            />
        </div>
        <aside class="blog-details__controls">
            <h3 class="blog-details__controls-title title">Tags</h3>
            <div class="blog-details__controls-wrapper">
                <button 
                    v-for="tag in listOfTags" :key="tag.id" 
                    :class="['blog-details__controls-btn', tag===currentTag ? 'blog-details__controls-btn_active' : null]"
                    @click="currentTag = tag">
                        {{tag}}
                </button>
            </div>
        </aside>
    </main>
    <footer class="footer center">
        <div class="footer__wrapper">
            <div class="footer__info">
                <a href="#" class="footer__logo">
                    <img src="icons/logo.svg" alt="logo">
                    <div class="footer__logo-title title">Interno</div>
                </a>
                <div class="footer__tagline">It is a long established fact that a reader will be distracted lookings.</div>
                <div class="footer__socials">
                    <a href="#" id="twitter"><img src="./icons/twiter.svg" alt="twitter"></a>
                    <a href="#" id="linkedin"><img src="./icons/linked.svg" alt="linked"></a>
                </div>
            </div>
            <div class="footer__pages">
                <h3 class="footer__title title">Pages</h3>
                <nav class="footer__nav">
                    <ul class="footer__links">
                        <li class="footer__link"><a href="#">Home</a></li>
                        <li class="footer__link"><a href="#">Project</a></li>
                        <li class="footer__link"><a href="#">Blog</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__services"></div>
            <div class="footer__contact">
                <h3 class="footer__contact-title title">Contact</h3>
                <div class="footer__contact-address">55 East Birchwood Ave. Brooklyn, New York 11201 </div>
                <div class="footer__contact-email"><a href="mailto:contact@interno.com">contact@interno.com</a>
                </div>
                <div class="footer__contact-tel"><a href="tel:+1234567890">(123) 456 - 7890</a></div>
            </div>
        </div>
    </footer>
    <div class="lines"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./blog-comp.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                currentTag: 'kitchen',
                listOfTags: ['kitchen', 'bedroom', 'building', 'architecture', 'kitchen planning', 'bathroom'],
                listOfBlogs: [
                    {
                        tag: 'kitchen',
                        title: 'Let’s Get Solution for Building Construction Work',
                        titleImgUrl: './img/blog-details/blog/cb582b2f896ba899c60c1a02a38d0bed.png',
                        date: '26 December,2022',
                        breadCrumbs: ['Interior', 'Home', 'Decore'],
                        content: `
                                <p class="blog-details__text">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injecthumour, or randomised words which don't look even slightly believable.</p>
                                <p class="blog-details__text">Embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                                <div class="blog-details__quote-block title">
                                    <div class="blog-details__quote">The details are not the details.<br/>They make the design.</div>                    
                                </div>
                                <h3 class="blog-details__subtitle title">
                                    Design sprints are great
                                </h3>
                                <p class="blog-details__text">
                                    Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                                </p>
                                <ul class="blog-details__points">
                                    <li class="blog-details__point">Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</li>
                                    <li class="blog-details__point">Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</li>
                                    <li class="blog-details__point">Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</li>
                                </ul>
                                <img src="./img/blog-details/blog/82b76fb3df9a10559c4dd2c81ce202c1.png" alt="blog Img" class="blog-details__img">
                                <p class="blog-details__text">
                                    Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                                </p>
                            `
                    },
                    {
                        tag: 'bedroom',
                        title: 'Smthg about bedroom',
                        titleImgUrl: './img/blog-details/blog/chastity-cortijo-R-w5Q-4Mqm0-unsplash.jpg',
                        date: '23 December,2022',
                        breadCrumbs: ['Interior', 'Home', 'Decore'],
                        content: `
                                <p class="blog-details__text">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injecthumour, or randomised words which don't look even slightly believable.</p>
                                <p class="blog-details__text">Embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                                <div class="blog-details__quote-block title">
                                    <div class="blog-details__quote">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus</div>                    
                                </div>
                                <h3 class="blog-details__subtitle title">
                                    Design sprints are great
                                </h3>
                                <p class="blog-details__text">
                                    Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                                </p>
                                <ul class="blog-details__points">
                                    <li class="blog-details__point">Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</li>
                                    <li class="blog-details__point">Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</li>
                                    <li class="blog-details__point">Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</li>
                                    <li class="blog-details__point">Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</li>
                                    <li class="blog-details__point">Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</li>
                                </ul>
                                <p class="blog-details__text">
                                    Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary to popular belief.There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                                </p>
                            `
                    }

                ]
            },

        });
    </script>
    
</body>
</html>