.footer {
    margin-top: 100px;
    min-height: 406px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size: 25px;
    }
    &__info {
        width: 360px;
    }
    &__logo {
        display: flex;
        gap:10px;
        align-items: center;
        &-title {         
            font-size: 40px;
            line-height: 125%; /* 50px */
        }
    }
    &__tagline {
        margin-top: 26px;
        color: $text-color;
        font-size: 22px;
        font-weight: 400;
        line-height: 150%; /* 33px */
        letter-spacing: 0.22px;
    }
    &__socials{
        margin-top: 31px;
        a {
            margin-right: 54px;
        }
    }
    &__pages {
        width: 120px;
    }
    &__links {
        padding: 0;
        margin-top: 26px;
    }
    &__link {
        margin-bottom: 30px;
        a {
            color: $text-color;
            font-size: 22px;
        }

    }
    &__services {
         width: 120px;
    }
    &__contact {
        font-size: 22px;
        color: $text-color;
        width: 260px;
        &-address {
            margin-top: 26px;
        }
        &-email {
            margin-top: 26px;
        }
        &-tel {
            margin-top: 26px;
        }
    }
}