.promo-blog {
    margin-top: 45px;
    max-height: 356px;
    padding-top: 178px;
    background: url(../../img/blog/main.jpg) center center / cover no-repeat;
    &__info {
        padding: 41px;
        margin: 0 auto;
        height: 178px;
        width: 503px;
        border-radius: 37px 37px 0px 0px;
        background: #FFF;
    }
    &__title {
        text-align: center;
        font-size: 50px;
    }
    &__breadcrumbs {
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 5px;
        
        :not(:last-child)::after {
            content: '/';
            padding-left: 5px;
        }
    }
    &_details {
        background-image: url(../../img/blog-details/6f414400e1aaf6f0f88a76c60fd534c3.png);
        height: 351px;
    }
}